<link rel="preload" as="font" type="font/woff2" crossorigin href="{{ "fonts/source-sans-3-v19-latin_latin-ext-regular.woff2" | relURL }}">
<link rel="preload" as="font" type="font/woff2" crossorigin href="{{ "fonts/jetbrains-mono-v24-latin_latin-ext-regular.woff2" | relURL }}">
<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
<script defer data-domain="boulingua.github.io/website" src="https://analytics.hellebo.de/js/script.file-downloads.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
